<nav class="has-background-light padded">
	<a class="navbar-item" [routerLink]="['/administration']" routerLinkActive="is-primary">
		{{ 'creation.title' | translate }}
	</a>
	<a
		role="button"
		class="navbar-item burger-button-menu-custom is-visible-mobile"
		aria-label="menu"
		aria-expanded="false"
		data-target="navbarBasicExample"
		[ngClass]="{ 'has-background-primary': mobileMenuVisible }"
		(click)="mobileMenuVisible = !mobileMenuVisible"
	>
		<i class="fa fa-bars" *ngIf="!mobileMenuVisible"></i>
		<i class="fa fa-times" *ngIf="mobileMenuVisible"></i>
	</a>
	<div class="navbar-item has-dropdown is-hoverable is-warning" *ngIf="environment.display_routes">
		<div class="padded">
			<a class="navbar-link"> Démos fixtures</a>
			<div class="navbar-dropdown">
				<a
					class="navbar-item"
					[routerLink]="['/poll/dessin-anime/consultation']"
					[routerLinkActive]="'is-primary'"
				>
					<em>
						dessin-anime
					</em>
				</a>
				<a
					class="navbar-item"
					[routerLink]="['/poll/aujourdhui-ou-demain/consultation']"
					routerLinkActive="is-primary"
				>
					consulter le sondage
					<em>
						aujourdhui-ou-demain
					</em>
				</a>
				<a class="navbar-item" [routerLink]="['/poll/citron/hash/consultation']" routerLinkActive="is-primary">
					<em>
						citron
					</em>
					sans pass
				</a>

				<a
					class="navbar-item"
					[routerLink]="['/poll/citron/consultation/1c01ed9c94fc640a1be864f197ff808c']"
					routerLinkActive="is-primary"
				>
					<em>
						citron
					</em>
					+ pass
				</a>
			</div>
		</div>
	</div>
</nav>
